{% extends 'main/base.html'%}
{%load bootstrap_icons%}
{% block title %} View {% endblock %}

{% block scripts %}
<script type="text/javascript"> 

var rotateDict = {}

function rotateOnClick(pass_id){
    if(rotateDict[pass_id] == null || rotateDict[pass_id] == false){
        rotateDict[pass_id] = true;
        document.getElementById(pass_id).style.transform = 'rotate(180deg)';
    }
    else{
        rotateDict[pass_id] = false;
        document.getElementById(pass_id).style.transform = 'rotate(0deg)';
    }
    
}

</script>
{% endblock %}

{% block content %}  
<form method="POST" >
    {% csrf_token %}

<div class="mx-4 my-4">
    <p class="display-4" style="display: inline;">Choose a Container</p>
    <button type="submit" class="mx-auto btn morpho-btn float-right" style="display: inline;">Submit</button>
</div>

<div class="mx-4">
    <p class="morpho-sameline h4">Ideas ({{creations.ideas|length}})</p>
    <a class="float-right morpho-link"  id="ShowIdeas" data-toggle="collapse" href="#Ideas" 
    role="button" aria-expanded="false" aria-controls="collapseExample" onclick="rotateOnClick('ShowIdeas')">
        {% bs_icon 'caret-down-fill' %}
      </a>
    <hr style="border-top: 2px solid #6B829B;"/>
    <div class="collapse" id="Ideas">
        <div class="d-flex flex-row mt-3"> 
        {% for i in creations.ideas %}
        <div class=" mx-3 my-2 card"> 
            <div class="card-body morpho-btn">
              <h5 class="card-title">{{i.name}}</h5>
              <hr style=" border-top: 2px dashed black;">
              <p class="card-text">Updated {{i.last_modified}}</p>
              <input class="float-right" type="checkbox" name="Ideas" value="{{i.id}}">
                </div>
           </div>
        {% empty %}
           <p>Nothing Yet!</p>
        {% endfor %}
        </div>
    
    </div>
</div>

<div class="mx-4">
    <p class="morpho-sameline h4">Themes ({{creations.themes|length}})</p>
    <a class="float-right morpho-link" id="ShowThemes" data-toggle="collapse" href="#Themes" 
    role="button" aria-expanded="false" aria-controls="collapseExample" onclick="rotateOnClick('ShowThemes')">
    {% bs_icon 'caret-down-fill' %}
      </a>
    <hr style="border-top: 2px solid #6B829B;"/>
    <div class="collapse" id="Themes">
        <div class="d-flex flex-row mt-3"> 
            {% for i in creations.themes %}
            <div class=" mx-3 my-2 card"> 
                <div class="card-body morpho-btn">
                  <h5 class="card-title">{{i.name}}</h5>
                  <hr style=" border-top: 2px dashed black;">
                  <p class="card-text">Updated {{i.last_modified}}</p>
                  <input class="float-right" type="checkbox" name="Themes" value="{{i.id}}">   </div>
               </div>
               {% empty %}
            <p>Nothing Yet!</p>
            {% endfor %}
            </div>
    </div>
</div>

<div class="mx-4">
    <p class="morpho-sameline  h4">Chapters ({{creations.chapters|length}})</p>
    <a class="float-right morpho-link" id="ShowChapters" data-toggle="collapse" href="#Chapters"
     role="button" aria-expanded="false" aria-controls="collapseExample" onclick="rotateOnClick('ShowChapters')">
     {% bs_icon 'caret-down-fill' %}
      </a>
    <hr style="border-top: 2px solid #6B829B;"/>
    <div class="collapse" id="Chapters">
        <div class="d-flex flex-row mt-3"> 
            {% for i in creations.chapters %}
            <div class=" mx-3 my-2 card"> 
                <div class="card-body morpho-btn">
                  <h5 class="card-title">{{i.name}}</h5>
                  <hr style=" border-top: 2px dashed black;">
                  <p class="card-text">Updated {{i.last_modified}}</p>
                  <input class="float-right" type="checkbox" name="Chapters" value="{{i.id}}">
                    </div>
               </div>
               {% empty %}
            <p>Nothing Yet!</p>
            {% endfor %}
            </div>
    </div>
</div>

<div class="mx-4">
    <p class="morpho-sameline  h4">Characters ({{creations.characters|length}})</p>
    <a class="float-right morpho-link" id="ShowCharacters" data-toggle="collapse" href="#Characters" 
    role="button" aria-expanded="false" aria-controls="collapseExample" onclick="rotateOnClick('ShowCharacters')">
    {% bs_icon 'caret-down-fill' %}
      </a>
    <hr style="border-top: 2px solid #6B829B;"/>
    <div class="collapse" id="Characters">
        <div class="d-flex flex-row mt-3"> 
            {% for i in creations.characters %}
            <div class=" mx-3 my-2 card"> 
                 <div class="card-body morpho-btn">
                  <h5 class="card-title">{{i.name}}</h5>
                  <hr style=" border-top: 2px dashed black;">
                  <p class="card-text">Updated {{i.last_modified}}</p>
                  <input class="float-right" type="checkbox" name="Characters" value="{{i.id}}">   </div>
               </div>
               {% empty %}
            <p>Nothing Yet!</p>
            {% endfor %}
            </div>
    </div>
</div>

<div class="mx-4">
    <p class="morpho-sameline  h4">Poems ({{creations.poems|length}})</p>
    <a class="float-right morpho-link" id="ShowPoems" data-toggle="collapse" href="#Poems" 
    role="button" aria-expanded="false" aria-controls="collapseExample" onclick="rotateOnClick('ShowPoems')">
    {% bs_icon 'caret-down-fill' %}
      </a>
    <hr style="border-top: 2px solid #6B829B;"/>
    <div class="collapse" id="Poems">
        <div class="d-flex flex-row mt-3"> 
            {% for i in creations.poems %}
            <div class=" mx-3 my-2 card"> 
                <div class="card-body morpho-btn">
                  <h5 class="card-title">{{i.name}}</h5>
                  <hr style=" border-top: 2px dashed black;">
                  <p class="card-text">Updated {{i.last_modified}}</p>
                  <input class="float-right" type="checkbox" name="Poems" value="{{i.id}}">  </div>
               </div>
               {% empty %}
            <p>Nothing Yet!</p>
            {% endfor %}
            </div>
    </div>
</div>

<div class="mx-4">
    <p class="morpho-sameline  h4">Books ({{creations.books|length}})</p>
    <a class="float-right morpho-link" id="ShowBooks" data-toggle="collapse" href="#Books"
     role="button" aria-expanded="false" aria-controls="collapseExample" onclick="rotateOnClick('ShowBooks')">
     {% bs_icon 'caret-down-fill' %}
      </a>
    <hr style="border-top: 2px solid #6B829B;"/>
    <div class="collapse" id="Books">
        <div class="d-flex flex-row mt-3"> 
            {% for i in creations.books %}
            <div class=" mx-3 my-2 card"> 
                 <div class="card-body morpho-btn">
                  <h5 class="card-title">{{i.name}}</h5>
                  <hr style=" border-top: 2px dashed black;">
                  <p class="card-text">Updated {{i.last_modified}}</p>
                  <input class="float-right" type="checkbox" name="Books" value="{{i.id}}">
                    </div>
               </div>
               {% empty %}
            <p>Nothing Yet!</p>
            {% endfor %}
            </div>
    </div>
</div>

<div class="mx-4">
    <p class="morpho-sameline  h4">Series ({{creations.series|length}})</p>
    <a class="float-right morpho-link" id="ShowSeries" data-toggle="collapse" href="#Series" 
    role="button" aria-expanded="false" aria-controls="collapseExample" onclick="rotateOnClick('ShowSeries')">
    {% bs_icon 'caret-down-fill' %}
      </a>
    <hr style="border-top: 2px solid #6B829B;"/>
    <div class="collapse" id="Series">
        <div class="d-flex flex-row mt-3"> 
            {% for i in creations.series %}
            <div class=" mx-3 my-2 card"> 
                <div class="card-body morpho-btn">
                  <h5 class="card-title">{{i.name}}</h5>
                  <hr style=" border-top: 2px dashed black;">
                  <p class="card-text">Updated {{i.last_modified}}</p>
                  <input class="float-right" type="checkbox" name="Series" value="{{i.id}}">
                    </div>
               </div>
               {% empty %}
            <p>Nothing Yet!</p>
            {% endfor %}
            </div>
    </div>
</div>

<div class="mx-4">
    <p class="morpho-sameline  h4">Anthologies ({{creations.anthologies|length}})</p>
    <a class="float-right morpho-link" id="ShowAnthologies" data-toggle="collapse" href="#Anthologies"
     role="button" aria-expanded="false" aria-controls="collapseExample" onclick="rotateOnClick('ShowAnthologies')">
     {% bs_icon 'caret-down-fill' %}
      </a>
    <hr style="border-top: 2px solid #6B829B;"/>
    <div class="collapse" id="Anthologies">
        <div class="d-flex flex-row mt-3"> 
            {% for i in creations.anthologies %}
            <div class=" mx-3 my-2 card"> 
                  <div class="card-body morpho-btn">
                  <h5 class="card-title">{{i.name}}</h5>
                  <hr style=" border-top: 2px dashed black;">
                  <p class="card-text">Updated {{i.last_modified}}</p>
                  <input class="float-right" type="checkbox" name="Anthologies" value="{{i.id}}">
                    </div>
               </div>
               {% empty %}
            <p>Nothing Yet!</p>
            {% endfor %}
            </div>
    </div>
</div>

<div class="mx-4">
    <p class="morpho-sameline  h4">Media ({{creations.media|length}})</p>
    <a class="float-right morpho-link" id="ShowMedia" data-toggle="collapse" href="#Media" 
    role="button" aria-expanded="false" aria-controls="collapseExample" onclick="rotateOnClick('ShowMedia')">
    {% bs_icon 'caret-down-fill' %}
      </a>
    <hr style="border-top: 2px solid #6B829B;"/>
    <div class="collapse" id="Media">
        <div class="d-flex flex-row mt-3"> 
            {% for i in creations.media %}
            <div class=" mx-3 my-2 card"> 
                 <div class="card-body morpho-btn">
                  <h5 class="card-title">{{i.name}}</h5>
                  <hr style=" border-top: 2px dashed black;">
                  <p class="card-text">Updated {{i.last_modified}}</p>
                  <input class="float-right" type="checkbox" name="Media" value="{{i.id}}">
                    </div>
               </div>
               {% empty %}
            <p>Nothing Yet!</p>
            {% endfor %}
            </div>
    </div>
</div>

<div class="mx-4">

</div>
</form>
{% endblock %}