{% extends 'main/base.html'%}

{% block title %} Create {% endblock %}

{% block content %}

<div class="my-4 ml-3">
  <p class="h2">
    Your Journery Begins Here!
  </p>
  <p class="h5">
    Choose from the types below to start creating
  </p>
</div>

<div class="d-flex flex-row justify-content-center mt-3">

       <div class="card mx-3 w-25 my-2  morpho-btn"> 
        <a href="{% url 'CreateType' type='Idea'  %}" class="card-block stretched-link text-decoration-none morpho-btn">
        <div class="card-body">
          <h5 class="card-title">Idea</h5>
          <hr style=" border-top: 2px dashed black;">
          <p class="card-text">For those quick ideas you need to jot down</p>
          </div></a>
      </div>

       <div class="card mx-3 w-25 my-2  morpho-btn"> 
        <a href="{% url 'CreateType' type='Theme'  %}" class="card-block stretched-link text-decoration-none morpho-btn">
        <div class="card-body">
          <h5 class="card-title">Themes</h5>
          <hr style=" border-top: 2px dashed black;">
          <p class="card-text">The underlying point of what your working on. 
            What are you really trying to say to the audience?</p>
            </div></a>
       </div>

       <div class="card mx-3 w-25 my-2  morpho-btn"> 
        <a href="{% url 'CreateType' type='Chapter'  %}" class="card-block stretched-link text-decoration-none morpho-btn">
        <div class="card-body">
          <h5 class="card-title">Chapter</h5>
          <hr style=" border-top: 2px dashed black;">
          <p class="card-text">A single, contained event or events, 
            meant to go along with others to form a complete story</p>
            </div></a>
      </div>
</div>

<div class="d-flex flex-row justify-content-center">
       <div class="card mx-3 w-25 my-2  morpho-btn"> 
        <a href="{% url 'CreateType' type='Character'  %}" class="card-block stretched-link text-decoration-none morpho-btn">
        <div class="card-body">
          <h5 class="card-title">Character</h5>
          <hr style=" border-top: 2px dashed black;">
          <p class="card-text">Hero? Villian? Something In Between? Write about them here!</p>
           </div></a>
      </div>

       <div class="card mx-3 w-25 my-2  morpho-btn"> 
        <a href="{% url 'CreateType' type='Poem'  %}" class="card-block stretched-link text-decoration-none morpho-btn">
        <div class="card-body">
          <h5 class="card-title">Poem</h5>
          <hr style=" border-top: 2px dashed black;">
          <p class="card-text">Feeling the rhythym? Write it here</p>
         </div></a>
      </div>

      <div class="card mx-3 w-25 my-2  morpho-btn"> 
        <a href="{% url 'CreateType' type='Book'  %}" class="card-block stretched-link text-decoration-none morpho-btn">
        <div class="card-body">
          <h5 class="card-title">Book</h5>
          <hr style=" border-top: 2px dashed black;">
          <p class="card-text">Meant to be a collection of chapters and events,
             but it can be whatever you imagine</p>
             </div></a>
      </div>

</div>
<div class="d-flex flex-row justify-content-center">
       <div class="card mx-3 w-25 my-2  morpho-btn"> 
        <a href="{% url 'CreateType' type='Series'  %}" class="card-block stretched-link text-decoration-none morpho-btn">
        <div class="card-body">
          <h5 class="card-title">Series</h5>
          <hr style=" border-top: 2px dashed black;">
          <p class="card-text">Many books or poems collected together in an order of your choosing</p>
           </div></a>
      </div>

       <div class="card mx-3 w-25 my-2  morpho-btn"> 
        <a href="{% url 'CreateType' type='Anthology'  %}" class="card-block stretched-link text-decoration-none morpho-btn">
        <div class="card-body">
          <h5 class="card-title">Anthology</h5>
          <hr style=" border-top: 2px dashed black;">
          <p class="card-text">A collection of chapters, books, and/or series which may be connected by one theme or plot</p>
            </div></a>
      </div>

     
      <div class="card mx-3 w-25 my-2  morpho-btn"> 
        <a href="{% url 'CreateType' type='Media'  %}" class="card-block stretched-link text-decoration-none morpho-btn">
        <div class="card-body">
          <h5 class="card-title">Media</h5>
          <hr style=" border-top: 2px dashed black;">
          <p class="card-text">Pictures, Songs, and Playlists to enhance what you're thinking of</p>
        
        </div></a>
      </div>
      

  </div>

{% endblock %}