{% extends "main/base.html" %}

{% load static %}

{%block title %}Login{%endblock%}

{% load crispy_forms_tags %}

{%block content%}
<div class="d-flex justify-content-center align-items-center morpho-login-bg" >



<div class="morpho-circle-login morpho-bg d-flex">
    <div class="my-auto mx-auto">
        <p class="h1 text-center morpho-login-title">M O R P H O</p>
        <p class="h3 text-cetner">Your Stories, Your Way</p>

    <form method="post" class="form=group">
        {%csrf_token%}
        {{form|crispy}}
        <div class="d-flex">
        <button type="submit" class="mx-auto btn morpho-btn">Login</button>
        </div>
        <p>Don't Have An Account? Create one <a href="/register">here</a></p>
        
    </form>
    </div>
</div>

</div>
{%endblock%}